body {
    background-image: url("https://cdn.pixabay.com/photo/2021/07/16/15/29/hellebore-6471156_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


canvas {
    display: block;
    margin: 0 auto;
    background-color: rgba(217, 101, 52, 0.575);
    border-radius: 10px;
    border: 3px double rgb(228, 181, 81);
    margin-bottom: 50px;
}
footer .h1-4{
    color:rgb(255, 255, 255);
    text-align: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.466);
    font-size: 40px;
    border: 2px dashed whitesmoke;
    font-family:'Courier New', Courier, monospace;
}
footer{
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
